# macOS
.DS_Store
.AppleDouble
.LSOverride

# Xcode
*.xcuserstate
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcodeproj/xcshareddata/xcschemes/
*.xcworkspace/xcshareddata/
*.xcodeproj/xcshareddata/

# Build
build/
DerivedData/
*.ipa
*.dSYM.zip
*.dSYM

# CocoaPods
Pods/
Podfile.lock

# Temporary files
*.tmp
*.temp
*~

# IDE
.vscode/
.idea/
*.swp
*.swo
